/* ********* */
/* @VARIABLES */
/* ********* */

$colores: (
  blue: #205072,
  blueFade: #44858f,
  turquesa: #329d9c,
  turquesaFade: #69b89a,
  green: #56c596,
  greenFade: #78c99b,
  lightGreen: #7be495,
  lightGreenFade: #5ca99a,
  superlightGreen: #cff4d2,
  superlightGreenFade: #88cba7,
);

